body{
    background-image: url("./assets/portfolioBackgroundV3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.navbar-brand{
    
    font-size: 32px;
}
.navbar-brand{

    font-family: 'Rock Salt', cursive;
    /* font-color: rgb(179,174,156); */
}
/* .container{
    opacity: 25%;
    margin-top: 460px;
    margin-left: 957px;
} */
.container{
    margin-top: 150px;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: rgb(223,218,240);
    border: dotted;
    border-color: rgb(70,81,145);
    /* margin-left: 510px; */
}
/* profile pic stuff
.facePic{
    opacity: 25%;
    margin-top: 375px;
} */